# Laravel related
/vendor/
node_modules/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
/public/storage
/storage/*.key
/storage/logs/
storage/framework/cache/data
storage/framework/sessions
storage/framework/views

# IDE/OS related
*.swp
*.swo
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
